// Copyright 2010-2017 - http://jsmaps.io
// License: http://jsmaps.io/support/license/
// Version 3.1.3
@import "sass/variables.scss";
@import "sass/mixins/transforms.scss";
@import "sass/mixins/breakpoint.scss";
@import "sass/mixins/utils.scss";
@import "sass/mixins/icons.scss";
/*
// Main map styles
*/

.jsmaps-wrapper {
    position: relative;
    margin: 0 auto;
    .jsmaps-preloader {
        position: absolute;
        top: 50%;
        left: 50%;
        z-index: 999;
        @include transform(translate(-50%, -50%));
    }
    .jsmaps {
        left: 0;
        top: 0;
    }
    .jsmaps-text {
        float: left;
        overflow: auto;
        padding: 10px 20px;
        clear: both;
    }
    .jsmaps-tooltip {
        position: fixed;
        display: none;
        padding: 10px 15px;
        background: #f2f2f2;
        font-size: 14px;
        font-weight: bold;
        border: 1px solid #262626;
        border-radius: 4px;
        /* Opera 10.5, IE9, Saf5, Chrome, FF4, iOS 4, Android 2.1+ */
        /* useful if you don't want a bg color from leaking outside the border: */
        
        -moz-background-clip: padding;
        -webkit-background-clip: padding-box;
        background-clip: padding-box;
    }
    .jsmaps-mouse-position,
    .jsmaps-viewbox-data {
        position: absolute;
        top: 0;
        left: 0;
        background: #000;
        color: #fff;
        font-size: 14px;
        padding: 10px;
    }
    .jsmaps-viewbox-data {
        left: auto;
        right: 0;
    }
    /* console */
    
    .jsmaps-console {
        float: left;
        clear: both;
        display: none;
        position: absolute;
        top: 5px;
        left: 5px;
        z-index: 2;
        ul {
            padding: 0;
            margin: 0;
            li {
                list-style-type: none;
                float: left;
                cursor: pointer;
                button {
                    @include button-reset();
                    position: relative;
                    width: $console-button-size;
                    height: $console-button-size;
                    background: rgba(0, 0, 0, 0.5);
                    border-radius: 4px;
                    margin-right: 1px;
                    cursor: pointer;
                    opacity: 0.9;
                    @include transition(opacity .3s ease-in-out);
                    &:hover {
                        opacity: 1;
                    }
                }
            }
        }
    }
}

/*
// Select
*/
.jsmaps-select {
    position: relative;
    display: none;
    &.all-devices {
        display: block;
    }
    &.mobile {
        @include breakpoint(mobile) {
            display: block;
        }
    }
    &.tablet {
        @include breakpoint(tablet) {
            display: block;
        }
        @include breakpoint(desktop) {
            display: none;
        }
    }
    &.desktop {
        @include breakpoint(desktop) {
            display: block;
        }
    }
    select {
        display: block;
        width: 100%;
        max-width: 100%;
        height: auto;
        margin-bottom: 20px;
        padding: 10px 40px 10px 13px !important;
        border: 1px solid #999;
        border-radius: 3px;
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        background: inherit;
        /* for IE and Edge */
        
        &::-ms-expand {
            display: none;
        }
        option {
            padding: 4px;
        }
    }
    .jsmaps-select-icon {
        position: absolute;
        top: 0;
        right: 0;
        width: 40px;
        height: 100%;
        border-left: 1px solid #999;
        pointer-events: none;
    }
}

/*
// Icons
*/
[class*="jsmaps-icon"] {
    @include centerHV();
    @include pseudo();

    &.jsmaps-icon-chevron {
        @include icon-chevron($console-chevron-size, $console-icon-thickness);
    }
    &.jsmaps-icon-plus {
        @include icon-plus-minus($console-plus-minus-size, $console-icon-thickness, true);
    }
    &.jsmaps-icon-minus {
        @include icon-plus-minus($console-plus-minus-size, $console-icon-thickness);
    }
     &.jsmaps-icon-reset {
        @include icon-reset($console-reset-size, $console-icon-thickness);
    }
}
