/* ------ map
-----------------------------------------------*/
.jsmaps-wrapper {
    position: relative;
    margin: 0 auto;
}
.jsmaps-wrapper .jsmaps-preloader {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 999;
}
.jsmaps-wrapper .jsmaps {
    left: 0;
    top: 0;
}
.jsmaps-wrapper .jsmaps-text {
    float: left;
    overflow: auto;
    padding: 10px 20px;
    clear: both;
}
.jsmaps-wrapper .jsmaps-text img {
    float: left;
    padding-right: 5px;
    padding-top: 2px;
}
.jsmaps-wrapper .jsmaps-text ul {
    margin-left: 30px;
}
.jsmaps-tooltip {
    position: fixed;
    display: none;
    padding: 10px 15px;
    background: #f2f2f2;
    font-size: 14px;
    font-weight: bold;
    border: 1px solid #262626;
    -moz-border-radius: 4px;
    /* FF1-3.6 */
    
    -webkit-border-radius: 4px;
    /* Saf3-4, iOS 1-3.2, Android <1.6 */
    
    border-radius: 4px 4px 4px 4px;
    /* Opera 10.5, IE9, Saf5, Chrome, FF4, iOS 4, Android 2.1+ */
    /* useful if you don't want a bg color from leaking outside the border: */
    
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
}
.mouse-position {
    position: fixed;
    top: 0;
    left: 0;
    background: #000;
    color: #fff;
    font-size: 14px;
    padding: 10px;
}
/* console */

.jsmaps-console {
    float: left;
    clear: both;
    display: none;
    position: absolute;
    top: 10px;
    left: 10px;
}

.jsmaps-console ul {
    padding: 0;
    margin: 0;
}

.jsmaps-console li {
    list-style-type: none;
    float: left;
    cursor: pointer;
}

.jsmaps-console li.jsmaps-zoom-in {
    width: 28px;
    height: 29px;
    background: url('../images/in.png');
}
.jsmaps-console li.jsmaps-zoom-out {
    width: 28px;
    height: 29px;
    background: url('../images/out.png');
}
.jsmaps-console li.jsmaps-move-up {
    width: 25px;
    height: 29px;
    background: url('../images/up.png');
}
.jsmaps-console li.jsmaps-move-down {
    width: 20px;
    height: 29px;
    background: url('../images/down.png');
}
.jsmaps-console li.jsmaps-move-left {
    width: 18px;
    height: 29px;
    background: url('../images/left.png');
}
.jsmaps-console li.jsmaps-move-right {
    width: 21px;
    height: 29px;
    background: url('../images/right.png');
}
.jsmaps-console li.jsmaps-zoom-reset {
    width: 62px;
    height: 29px;
    background: url('../images/reset.png');
}
